<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="whatsapp_chat" frontName="whatsapp_chat">
            <module name="MagoArab_WhatsappChat"/>
        </route>
    </router>
</config>
